# you should remove this from your gitignore after first install
config.js
config.json
config.yaml
gulpfile.js
yarn.lock
theme

# dev stuff
.DS_Store
.idea
local
node_modules

# auto generated stuff
app/public/android-chrome*
app/public/apple-touch*
app/public/browserconfig.xml
app/public/favicon*
app/public/mstile*
app/public/safari-pinned*
app/public/site.webmanifest

Src/Scss/Abstracts/_breakpoints.scss
Src/Scss/Abstracts/_container.scss
Src/Scss/Abstracts/_icomoon.scss
Src/Scss/Abstracts/_colors.scss
Src/Scss/Abstracts/_aspect-ratios.scss
aspect-ratios.yaml
colors.yaml
Breakpoints.constants.typoscript
Test/backstop/backstop_data
Test/backstop/backstop.config.js
Test/backstop/*.example.*